<!doctype html>
<html>

<head>
    <title>CNN CV Categorizer</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}"/>
    <style>
        .custom-file-upload {
            border: 1px solid #ccc;
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
        }

        .image {
            margin: auto;
            max-width: 100%;
            max-height: 100%;
        }

        .imagepreview {
            display: flex;
            height: 300px;
            width: 300px;
        }
    </style>
</head>
<title>Upload New File</title>

<body>
<section id="banner">
    <h1>Wooppy CV Inferrer V1.0</h1>
    <p>Upload a CV in PDF form we will categorize it!</p>
</section>
<section id="one" class="wrapper">
    <div class="inner">
        <form action="/infer" method="post" enctype="multipart/form-data">
            <p>
                <input type=file name=file id="imagefile">
                <div class="imagepreview">
                    <img class="image" id="image">
                </div>
            </p>
            <!--<script>-->
                <!--document.getElementById("imagefile").onchange = function () {-->
                    <!--var reader = new FileReader();-->

                    <!--reader.onload = function (e) {-->
                    <!--// get loaded data and render thumbnail.-->
                        <!--document.getElementById("image").style.visibility="visible";-->
                        <!--document.getElementById("image").src = e.target.result;-->
                    <!--};-->

                    <!--// read the image file as a data URL.-->
                    <!--try {-->
                        <!--reader.readAsDataURL(this.files[0]);-->
                    <!--} catch (err) {-->
                        <!--document.getElementById("image").style.visibility="hidden";-->
                    <!--}-->
                <!--};-->

            <!--</script>-->
            <!--<p>-->
                <!--<input type=text name=text placeholder="Type header here" style="text-align:top;">-->
            <!--</p>-->
            <p>
                <input type=submit value=Wooppy!>
                <!--<input type=image src="/static/images/icon.png" alt="Wooppy!">-->
            </p>
        </form>
    </div>
</section>
</body>

</html>